[2019-04-09 21:45] ashepherd opened #1 "Adding BCO-DMO specific metadata to datapackage.json"
See also:

- https://github.com/frictionlessdata/specs/issues/218
- https://json-ld.org/spec/latest/json-ld/ (JSON-LD 1.1 required)

PROPOSAL

1. If [adding JSON-LD support is of interest (frictionlessdata/specs#218)](https://github.com/frictionlessdata/specs/issues/218), define a namespace within `frictionlessdata.io` domain for potentially serving machine-readable descriptions of Frictionlessdat

[2019-04-09 21:46] ashepherd opened #2 "Add Lilly and Adria to a team on this repository"

[2019-04-10 09:11] cschloer opened #3 "limit-rows parameter in load"
limit-rows parameter was part of stream_remote_resources. Now that we use `load` instead of `add_resource` and `stream_remote_resources` there is no longer a way to limit the number of rows being streamed. This is a major issue when streaming large datasets.

[2019-04-10 09:11] cschloer opened #7 "limit-rows parameter in load"
limit-rows parameter was part of stream_remote_resources. Now that we use `load` instead of `add_resource` and `stream_remote_resources` there is no longer a way to limit the number of rows being streamed (no `limit-rows` parameter). This is a major issue when streaming large datasets.

[2019-04-10 09:39] cschloer opened #4 "Inconcistent behavior between concatenate and load"
Concatenate has an option called `path` within the `target` key. This updates the path in the datapackage for the file. Whenever a dump_to_path step is run, resources are dumped based on that path value within the datapackage. As stated in the [documentation](https://github.com/frictionlessdata/datapackage-pipelines#concatenate), 'If omitted, the target resource will receive the name concat and wi

[2019-04-10 09:39] cschloer opened #8 "Inconsistent behavior between concatenate and load"
Concatenate has an option called `path` within the `target` key. This updates the path in the datapackage for the file. Whenever a dump_to_path step is run, resources are dumped based on that path value within the datapackage. As stated in the [documentation](https://github.com/frictionlessdata/datapackage-pipelines#concatenate), 'If omitted, the target resource will receive the name concat and wi

[2019-04-10 09:48] cschloer opened #6 "missingValues field is not taken into account during load"
When load is run using `force_strings=false` and `validate=true`, it fails on values like `nd` (for non string types) even if you add `nd` to the missingValues datapackage parameter. If instead you set `force_strings=true` and you later use the set_types processor to manually set the types, it works.

Here is a pipeline-spec.yaml file demonstrating the addition of missingValues to the datapackage

[2019-04-10 19:00] ashepherd commented on #1
@adyork let's review at some point

[2019-04-18 18:26] adyork opened #5 "Can't get format from Excel, just values"
We need to have the option of using the same field formatting that is in the Excel file.  The behaviour if you use "Save as" csv in Excel is to output the values with formats as they are displayed in the Excel program.  We want the same formatting shown below. **minus the extra blank columns

![image](https://user-images.githubusercontent.com/9537357/55420656-87258c00-5545-11e9-966d-9adea6d61e4e.p

[2019-04-18 18:28] adyork commented on #5
See  [usecases/754644_Carpenter2018_physical_data](usecases/754644_Carpenter2018_physical_data) for an example where the Excel has formatting that we would like to import with the values.

[2019-04-18 18:35] adyork commented on #6
See [usecases/752613_Temperature](https://github.com/BCODMO/frictionless-usecases/tree/master/usecases/752613_Temperature) for more details about the data file: https://raw.githubusercontent.com/BCODMO/frictionless-usecases/master/usecases/752613_Temperature/orig/Field_Temperature_Data_set1.txt

[2019-04-18 18:44] adyork commented on #2
@ashepherd made a team and invited them.

[2019-04-18 18:44] #2 closed

[2019-04-18 19:11] adyork commented on #7
This issue is mentioned in #8

[2019-04-18 19:22] adyork opened #9 "Can't set type for "Temperature (24)" column"
Encountered error when trying to set type for a column that included parentheses in the field name.

See usecase [754644_Carpenter2018_physical_data]( https://github.com/BCODMO/frictionless-usecases/tree/master/usecases/754644_Carpenter2018_physical_data)

Error message from pipeline-web tool:

[code]

[2019-04-18 19:29] adyork commented on #6
I ran into dataflow load errors when there was a missing data identifier as well, even with force_strings=True,validate=False.

    dataflows.base.schema_validator.ValidationError:
    ROW: {'Date': datetime.datetime(2015, 11, 13, 0, 0), 'Treatment days': -4, 'Treatment': 870, 'Flume': 4, 'Temperature (24h)': 'NA', 'Temperature (day)': 'NA', 'Temperature (night)': 'NA', 'Irrandiance': 'NA'}

Tried

[2019-04-19 17:05] cschloer commented on #6
Important to note that you need to use the pipeline generator repo (https://github.com/BCODMO/pipeline-generator) to load in the custom processor to run the test case

[2019-04-19 20:55] adyork commented on #6
@cschloer do you agree that the meat of this issue is that we had to do a workaround to be able to load data files that had missing data identifiers?  I was having issues with doing that outside of our custom stuff.

[2019-04-22 18:03] adyork commented on #5
Hey @lwinfree.  Do you think the ability to import format info from Excel can be added to datapackage-pipelines?

@BCODMO/frictionlessdata-pilot-project

[2019-04-22 18:42] adyork commented on #9
I did a little testing with a simple pipeline-spec.yaml and csv purely with datapackage-pipelines, not our web tool.  Ran them with dpp on command line.

test.csv
[code]

This gave me an error in set_type
[code]
[code]

This worked if I escaped the parentheses in the field name:

[code]
[code]

Escaping parentheses in column names is a solution if constructing pipelines by hand, but users have to

[2019-04-22 18:50] adyork commented on #7
@BCODMO/frictionlessdata-pilot-project what are your thoughts about this?  Are you planning on adding back some way to limit rows to load?  Is there some other way you suggest doing that?

[2019-04-23 18:09] lwinfree commented on #5
thanks for the ping @adyork! I'll take a look at this & the rest of the issues in this repo with my team and get back to you 😃

[2019-04-24 10:04] cschloer opened #10 "dpp:streamedFrom value in datapackage.json incorrect"
Hi,

the per resource `dpp:streamedFrom` value in the datapackage.json is always set to the most recently streamed resource's streaming path.

With the following simple pipeline-spec.yaml:

[code]
You get this datapackage:

[code]

As you can see, both dpp:streamedFrom values are set to the second streamed resource.

[2019-04-25 07:27] cschloer commented on #9
So this is happening specifically for set_types because of set_types looking for a regular expression (`field name is either simply the name of a field, or a regular expression matching multiple fields.` - https://github.com/frictionlessdata/datapackage-pipelines#set_types). A few things regarding that:

1. This is different from all other processors that deal with fields. All other ones take in a

[2019-04-26 15:57] adyork opened #11 "Relax the forced load order for resources used in join step?"
I keep running into the error that tells you you have to load the "source" before the "target" if you are using a join step.  @BCODMO/frictionlessdata-pilot-project , @lwinfree  is there any way you can relax the load order requirement for join?

e.g.

This is because the natural order when developing a pipeline for us is that we load the main dataset (e.g. nutrient data) we are trying to process

[2019-04-26 16:23] adyork opened #12 "No way to do equivalent of a "Full Outer" join?"
The way pipelines/dataflows architectured joins is pretty inflexible compared with join tools we were familiar with due to the "source" "target" logic and inability to achieve a full outer join.

This is my summary of the core of the issue as best I can tell. Please let me know if there is an existing join configuration other method I am missing here.

What we really want is the join types availab

[2019-04-26 16:26] adyork commented on #12
@BCODMO/frictionlessdata-pilot-project, does this make sense to you?  Am I missing a way to configure join step to do the equivalent of "outer?"

The above example is just one case we would want outer for catching errors in the key, but there are plenty of times you just need to do an outer join, not just for catching errors.

[2019-05-14 18:45] lwinfree commented on #1
Hi @ashepherd & @adyork! We are starting to check out this issue and are wondering if there are specific pain points here that you need help with? Or is this issue more documentation for the goal of eventually adding this metadata during the pilot? Thanks in advance for any clarification :-)

[2019-05-14 19:20] ashepherd commented on #1
Hi @lwinfree! Maybe just discussion about OKF plans for adding JSON-LD support? If it was of interest and OKF wanted help, I'd be happy to help!

I just want to make sure we aren't doing anything that conflicts with OKF plans by using JSON-LD, or if there weren't plans to add support, maybe our office rethinks using it here in favor of inserting a property at the top-level of the JSON that won't e

[2019-05-21 19:46] adyork opened #15 "Can't rename a field if there are two with same name?"
Pipeline tool version: 3c33d72
Browser: firefox version 66.0.0
OS: Linux
______________________________

[pipeline-spec.yaml.754685.txt](https://github.com/BCODMO/pipeline-web/files/3204195/pipeline-spec.yaml.754685.txt)

Describe the expected behavior here:
If you select the first occurrence in the list, that is the one that changes.   The other remains the same.

Describe the actual behavior her

[2019-05-23 16:57] lwinfree commented on #9
Hi @adyork! Do you happen to have a link to the web tool so @roll can play with it? (also I'm assuming the 'web tool' is the UI?) I'm going to send him the video of your csvconf talk once it gets posted so he can see it in action, but are there other resources that you could give him so he can get to know your process better? Thanks!

[2019-05-24 11:55] roll commented on #7
@cschloer
@adyork
Hi, now `processors.load` supports the `limit_rows` parameter e.g.:
[code]
We need to upgrade `dataflows` to get version `0.0.53`:
[code]

[2019-05-27 10:38] roll commented on #9
The `regex` parameter has been added to the `set_types` processor:
- https://github.com/frictionlessdata/datapackage-pipelines#set_types

[code]

So now, it's possible to interpret field names as strings

[2019-05-27 12:12] roll commented on #5
Updating `tabulator` we can get `preserve_formatting` flag for the `load` processor:

[code]

[code]

The problem is that this functionality is not implemented anywhere in the Python eco-system. I mean reading `xlsx` as it's formatted in the Excel document. I've bootstraped an implementation in `tabulator` but it's very basic at the moment (though covering this exact issue).

Going forward:
- we c

[2019-05-27 12:19] roll commented on #5
cc @akariv
There is something related to Excel formatting if you're interested) Any ideas are very welcome.

[2019-05-27 13:31] cschloer commented on #5
The preserve_formatting parameter worked for the example provided here! I've added it to the UI. @adyork feel free to close this issue once you've checked it working, unless you want to keep it active for more on-demand excel formats that should be preserved.

[2019-05-28 07:05] roll commented on #6
I checked different options and I think this one could be the best:
- we don't cast data during loading (though a schema will be inferred)
- we update schema on the next step (setting `missingValues`)
- on the dump_to_path step data is validated anyway (actually making this pipeline more effective because it's not validated two times: on load and on dump)

[code]

If it's not good enough, as alter

[2019-05-28 07:17] akariv commented on #6
I think that adding a schema (to be used as overrides over the inferred
schema) would be a good and generic solution.

On Tue, May 28, 2019 at 10:05 AM roll <notifications@github.com> wrote:

[2019-05-28 07:21] roll commented on #6
Thanks @akariv!

@adyork
@cschloer
Please let me know what do you think regarding these two options.

[2019-05-28 07:41] roll commented on #10
I've create a PR for it (https://github.com/frictionlessdata/datapackage-pipelines/pull/170) but not sure is it a bug or a feature)

[2019-05-28 09:14] cschloer opened #13 "Number type incorrect precision when passed a float"
OK, so this will be somewhat hard to explain because my only examples come from custom processors or custom parsers that we've built. If you want, I can give you an example with a custom processor over at https://github.com/BCODMO/bcodmo_processors, but I also plan to update these processors to get around this issues ASAP. Therefore this is also low priority, but I do think it is a bug on your end

[2019-05-28 09:32] cschloer opened #14 "You can't cast from non-string to string"
[This line](https://github.com/frictionlessdata/tableschema-py/blob/master/tableschema/types/string.py#L20) returns in error in `cast_string` if the value is not an instance of `six.string_types`. `six.string_types` [is just `str`](https://pythonhosted.org/six/#six.string_types), which means that if the value is not already a string, it cannot be cast to a string.

[2019-05-28 17:20] adyork commented on #5
I can confirm, it has worked as described for the few tests I have done since we incorporated the new preserve_format.

This is great!

@roll re: your fix using tabular and your comment that `The problem is that this functionality is not implemented anywhere in the Python eco-system`

openpyxl allows access to the formats in excel.  I have a script I used this in that I could dig up but if memory

[2019-05-29 05:53] roll commented on #5
@adyork
So yes, `cell.format_number` is exactly what I used for `tabulator`. What I meant that I wasn't able to find any existent implementation of a converter from Excel formats (like `d-mmm`) to Python formats (like `%d-%M). So for now, it's just a plain conversion map we need to extend for other formats.

[2019-05-29 12:45] cschloer commented on #15
@roll So we've run into a bit of a problem here. Sometimes we are submitted datasets that have multiple columns with the same name.

My workaround idea is to add an option to load that automatically adds a `(1)`, `(2)`, etc. to the end of a repeated column name similar to how files are downloaded files are handled in an OS. This would (I think) mean updating all of the parsers provided by dataflow

[2019-05-30 10:34] roll commented on #11
@adyork
Unfortunately, it's not possible because of internal architecture of `datapackage-pipilines`. It processes data in a stream and it needs a source resource to come first to the `join` step for creating an index.

Hopefully it's a minor inconvenience because it's always possible just to move the source load step before the target load step in a DPP spec.

[2019-05-30 13:51] roll commented on #8
@cschloer
Hi, not sure I fully understand. Is it general to setting a resource's path or only related to the `concatenate` processor?

If it's the first one than we can propose a DPP processor like this (already written for `dataflows`):
[code]

to use it like `package_update`:

[code]

Is it what we need?

[2019-05-30 18:35] adyork commented on #11
Thanks for the explanation. It was worth asking the question.  I suppose we can tool around the inconvenience to more easily re-order the steps.

[2019-05-30 18:35] #11 closed

[2019-05-30 20:07] adyork commented on #12
I added a new usecase which would need a full outer join.  Hopefully this clarifies one need I described above.
This is a complicated one, but skip to the notes in the README for data version 2, processing needs:
https://github.com/BCODMO/frictionless-usecases/blob/master/usecases/water_column_particle_profiles/README.md#data-version-2

[2019-05-31 19:52] lwinfree commented on #13
@cschloer Is this fixed in the PR above? Or should Evgeny still look into this? Thx!

[2019-06-03 11:25] cschloer commented on #9
Is it possible to have this same parameter for delete_fields? I believe delete_fields also takes in regex (though the documentation does not say this). @roll

[2019-06-03 11:33] roll opened #16 "Regex option for the `delete_fields` processor"
# Overivew

See https://github.com/BCODMO/frictionless-usecases/issues/9#issuecomment-498218348

[2019-06-03 11:41] roll commented on #12
The implementation at a review. To test it now:
[code]
E.g.
[code]
cc @cschloer

[2019-06-03 11:42] roll commented on #9
@cschloer
I've created an issue for it - #16

[2019-06-03 13:11] cschloer commented on #13
Hey, so I pushed a fix in our code that works around this bug, but I decided to post this issue anyways because I think it is a bug in frictionless. It is low priority on our end because of the fix.

[2019-06-03 14:55] adyork commented on #12
OH great! We will test this out.

[2019-06-05 09:03] cschloer opened #17 "Add boolean_add_computed_field functionality to standard add_computed_field processor"
RE: conversation with Adam about adding one of our custom processor functionalities to add_computed_field.

This is obviously low priority because we have the processor working for ourselves.

Code is here: https://github.com/BCODMO/bcodmo_processors/blob/master/bcodmo_processors/bcodmo_pipeline_processors/boolean_add_computed_field.py

[2019-06-05 09:11] cschloer opened #18 "Add include_source_name to standard concatenate processor"
As discussed in the call, add `include_source_name` functionality to standard concatenate processor. `include_source_name` adds some kind of value from the concatenated resources into the resulting resource as a field. Code is here: https://github.com/BCODMO/bcodmo_processors/blob/master/bcodmo_processors/bcodmo_pipeline_processors/concatenate.py

Low priority because we already have a custom proc

[2019-06-05 09:15] cschloer opened #19 "Update dumper to allow not force format"
Currently the dump processors force a particular format for datetime values ([for example](https://github.com/datahq/dataflows/blob/master/dataflows/processors/dumpers/file_formats.py#L100)). We need the ability to use the `format` value within the schema (saved in the datapackage.json) as the format that is used to dump datetime values. The suggestion was to just have a flag in dump_to_* that, wh

[2019-06-05 09:24] cschloer commented on #8
It's somewhat a combination of both. #1 (changing the path) is probably more important, so at least there is a way to get around it. But I also think #2 (the fact that concatenate is different from load) seems counter intuitive and confusing.

But adding the update_resource into the datapackage_pipelines repo would be great! We discussed that on the call yesterday also.

[2019-06-10 18:00] adyork commented on #9
Great! It seems this got resolved.  I was able to both set types and rename the fields in our pipeline ui.

@cschloer would you consider this case closed or are there any lingering issues you know of?

[pipeline-spec.yaml.txt](https://github.com/BCODMO/frictionless-usecases/files/3273197/pipeline-spec.yaml.txt)
loaded (as strings, () in names)
![image](https://user-images.githubusercontent.com/953

[2019-06-11 21:31] #9 closed

[2019-06-11 21:31] #7 closed

[2019-06-17 17:49] adyork opened #20 "Can't import csv file - bracket issues?"
Can't load source file: https://raw.githubusercontent.com/BCODMO/frictionless-usecases/master/usecases/699169_Doliolid-CTD/orig/CTD%20DOLDIET004_JAN2016_CAST001.csv
* Added this file and 19 others in usecase [699169_Doliolid-CTD](https://github.com/BCODMO/frictionless-usecases/tree/master/usecases/699169_Doliolid-CTD)

data file looks like this:
![image](https://user-images.githubusercontent.com/9

[2019-06-18 09:06] cschloer commented on #20
No thoughts other than if you change the brackets in the column names to parentheses (or remove them entirely) the data loads properly for that field. So it's an issue with a field name having a bracket. Maybe another regex problem?

[2019-06-18 09:54] cschloer opened #21 "Standard processor sort does not take into account types"
Hi,

If you use the sort standard processor with a single field as the sort-by key, that field's type is not taken into account. That means there is no way to sort a resource by a number field or a datetime field.

One solution would be to change how the sort key is inputted to the sort processor. Currently you input a string with format brackets (`{}`)  for field names. I think it would be make s

[2019-06-18 11:29] cschloer commented on #12
@roll Are you waiting for us to review before merging into master? If so, could you pull master into the branch? I don't want to lose other changes that you've made to dataflows since creating the branch.

[2019-06-23 12:06] roll commented on #12
@cschloer
I'm going to make changes today/tomorrow asked by Adam (the DPP maintainer) and then it will be added/realeased

[2019-06-24 12:28] roll commented on #10
It's fixed with `pip install --upgrade datapackage-pipelines@2.1.7`

[2019-06-24 12:28] #10 closed

[2019-06-24 13:09] roll commented on #14
@cschloer
It's because it validates data and for logical data representation (in a Python program) only native strings are going to pass validation. E.g. if for a text field your data have some integer values it means that these values are invalid and should be stringified first.

Any example to take a look at? When it's a problem for a pipeline

[2019-06-25 09:54] cschloer commented on #14
@adyork Do you have an example pipeline on hand that displays our need to convert from number to string? Otherwise I will try to send one over when I run into it.

[2019-06-27 12:36] roll commented on #20
Thanks. It's a `tabulator` problem - https://github.com/frictionlessdata/tabulator-py/issues/264. I'm working on resolving it.

[2019-06-27 15:04] adyork commented on #20
Great! That will really help.  It is extremely common for our data submitters to include units in the column name in brackets.

[2019-06-28 07:46] roll commented on #20
It's fixed now with:
[code]

[2019-06-28 07:46] #20 closed

[2019-06-28 12:01] roll commented on #15
@cschloer
I think the `load` option makes sense

cc @akariv

[2019-06-28 13:08] roll commented on #13
Fixed in:
[code]

[2019-06-28 13:08] #13 closed

[2019-06-28 13:14] cschloer commented on #13
Sweet! Thanks for the fix. FYI I'm traveling for the next 4 or so weeks, so you might get some slower responses from me.

[2019-06-28 15:06] adyork commented on #20
Excellent! Thanks for the quick action.

[2019-07-05 11:22] roll commented on #12
It's released:
[code]

https://github.com/BCODMO/frictionless-usecases/issues/12#issuecomment-498222601

[2019-07-05 11:22] #12 closed

[2019-07-05 11:27] roll commented on #16
@adyork
@cschloer
It's done

[code]

[code]

[2019-07-05 11:27] #16 closed

[2019-07-05 11:33] roll commented on #8
The `update_resource` processor is added to the core.

[code]

[code]

[2019-07-05 11:45] roll commented on #6
Now it's possible to use `override_schema` and `override_fields` on the `load` step:

[code]

[code]

[2019-07-05 11:45] #6 closed

[2019-07-07 11:53] roll commented on #19
@akariv
@cschloer
Here is a short summary:
- BCO-DMO had been having problems with saving date/time data because of forced format
- we had a meeting with BCO-DMO and Adam, and decided to try to provide an option to use user defined date/time formats
- than this issue was created with a goal to have an ability to
    - set `schema.fields[].format` on some `update_resource` stage
    - use a flag to

[2019-07-16 06:50] akariv commented on #19
@roll

I think we should make a distinction between dataflows and datapackage-pipelines here.
since dataflows has a Python native interface, it would be better imo to have a more flexible serializer/dialect kind of API.

On datapackage-pipelines, with the yaml restrictions, we could have a few 'preset' configurations - e.g. by using the force_temporal_format parameter.

wdyt?

[2019-07-16 07:05] roll commented on #15
It's been merged to `dataflows-py` and will be released I think as `dataflows@0.0.58` shortly.

The API is to achieve the result we have discussed (adding suffixes to duplicate headers):

[code]

[2019-07-16 07:05] #15 closed

[2019-07-16 08:52] roll commented on #19
It makes sense :+1:

@cschloer is on vacation now but when he's back we can take a look on it from the "api client" perspective.

[2019-07-17 16:53] adyork opened #22 "Supporting time zone in datetime type"
For our ISO datetime UTC columns
`2011-04-26T14:07:12Z `
after type set from string to datetime it becomes
`2011-04-26T14:07:12`

It loses the timezone component of our datetime with timezone.  We have been keeping it as a string not datetime type so we can preserve the timezone part.

It would be best for us (BCO-DMO) if you could support timezones within datetime, specifically the format I showe

[2019-08-07 14:04] cschloer commented on #8
Hey @roll we are still running into issues with this. The workaround of `update_resource` works great, but we are still unconvinced that a workaround is necessary. Is there any reason to maintain the inconsistency between the `path` field of concatenated resources and resources that are normally loaded in? It would save us a fair amount of work and confusion if concatenated resource by default had

[2019-08-07 15:45] cschloer commented on #8
Sorry, I'm pretty sure this was an issue on my end. Will reopen if I'm wrong

[2019-08-07 15:45] #8 closed

[2019-08-09 14:25] cschloer commented on #22
Hey @lwinfree @roll is there any update on this issue in particular? I think this is a rather important one for us. Specifically the issue is that dump_to_path is forcing [a particular datetime format ](https://github.com/datahq/dataflows/blob/master/dataflows/processors/dumpers/file_formats.py#L9). A quick fix for us has been to fork dataflows and change that constant to be what we need (`%Y-%m-%

[2019-08-10 07:30] roll commented on #22
Hi @cschloer, I was on Holiday. Now I'm back and I will prioritize this one.

[2019-08-15 10:36] roll commented on #22
@cschloer
So this one is barely a subset of #19. Could we please return to #19 because I, actually, wanted you to take a look/brainstorm possible API solution on your end for custom data/time formats.

[2019-08-16 06:54] roll commented on #19
@cschloer
Please take a look at https://github.com/BCODMO/frictionless-usecases/issues/19#issuecomment-508993522. For now, that's the point where we are for #19 and #22

[2019-08-16 17:09] cschloer commented on #19
Hey,

sorry for the late reply!

From my understanding of what you said, you could add a flag to dump_to_path that uses the format specified in `schema.fields[].format`, but the problem you are anticipating is that we cannot update `schema.fields[].format` in the `update_resource` processor, so your workaround is to add a new `schema.fields[].outputFormat` field that we would update instead.

The

[2019-08-20 11:21] roll commented on #19
Thanks @cschloer

So let me verify how I see it:

1. we're going to add a config option to the DPP's `dump_to_path` like `datetime-format-field`

[code]

2a. DPP has to pass it to Dataflows to be processed
2b. DPP has to implement a custom dumper to use with Dataflows (feels more complicated)

cc @akariv

[2019-08-22 11:16] roll commented on #19
Ok, thanks, I'll focus on finishing it then

[2019-08-27 06:39] roll commented on #15
Hi @akariv could you please release `dataflows@0.0.58`?

[2019-08-27 15:44] cschloer opened #23 "Excel parser handle regular expression sheet name"
Currently you can only load one excel sheet at a time with the xls/xlsx parser. It would be great if you could load multiple resources at a time by entering a regular expression for the sheet name. For example `*` would load all of the sheets.

My suggestion would be that if the `name` parameter is blank, each resource is named after the sheet name. A nice addition would be the ability to input a

[2019-08-27 16:54] cschloer opened #24 "Pipeline dashboad/status badges enhancement"
Hi,

I'm working on a feature for our tool that will allow a pipeline to be run in the background. This is especially useful for very large datasets that take 40+ minutes to complete.

I would like to use the Pipeline Status Dashboard tool to show status updates on the running pipeline. I have a few questions and/or enhancement requests.

I run `dpp init` and `dpp serve`. The pipeline status dashb

[2019-09-02 08:36] roll commented on #15
@cschloer
It's on PyPi)

[2019-09-03 13:02] cschloer commented on #15
Thank you!

[2019-09-05 18:22] cschloer commented on #6
Hey @roll @akariv I'm not going to reopen this because we have a workaround (I have my own concatenate processor that is overwriting the default one) but for other people it would probably be useful to have this same override_schema parameter in the standard concatenate processor. Currently there is no way to update the schema of  a resource created by concatenate (or join) with the method used he

[2019-09-09 07:34] roll commented on #6
@cschloer
Would you like to create a feature request on the `dataflows` issues tracker for the future reference?

[2019-09-09 15:15] cschloer commented on #6
:+1:
Made it here! https://github.com/datahq/dataflows/issues/109

[2019-09-10 19:28] cschloer commented on #23
Hey @roll is it okay if I reorder the priority on the OKF Pilot board? The top two (https://github.com/BCODMO/frictionless-usecases/issues/21 and https://github.com/BCODMO/frictionless-usecases/issues/18) are pretty low prioity for us.

[2019-09-11 05:33] roll commented on #23
@cschloer
sure, please do

[2019-09-13 08:52] roll commented on #24
@cschloer
I also didn't find any timestamp to add a date to the badge. And not sure about these two tasks instead of one (cc @akariv)

BTW don't you consider using shields.io directly in your code. If you have enough data to create it. It can make it less coupled with DPP e.g.:

https://img.shields.io/badge/pipeline-succeeded_2019_01_01-brightgreen.svg

[2019-09-13 15:36] cschloer commented on #24
Sorry I don't think I understand what you mean about two tasks instead of one?

The badge feature request is somewhat secondary, I"m just hoping to use this already built PipelineStatus enpdoint for my uses! I can totally build my own badge-type thing, or just display the status as text.

[2019-09-16 05:59] roll commented on #24
@cschloer

I meant two pipelines instead of one. I also not sure what it is.

Sorry, Conrad, what is the primary request in this issue? It says `Pipeline dashboad/status badges enhancement` so I'm a little bit lost :smiley:

[2019-09-18 15:13] cschloer commented on #24
Sorry for being confusing! I think the primary request is having a pipeline that is run through `dpp run` show up on the Pipeline Status page as completed, running, error, etc. Currently, as described above, it shows `Last run triggered: None` a bunch of times.

[2019-09-24 11:52] roll commented on #24
@cschloer
Should be fixed in dpp@2.1.10

Please re-open if not

[2019-09-24 11:52] #24 closed, assigned to roll

[2019-09-25 13:52] roll commented on #17
@cschloer
Would you be interested in proposing PRs to `dataflows` and `datapackage-pipelines` by yourself? I just feel that I can be like a broken phone here translating these changes to the main codebase. Especially for this one - https://github.com/BCODMO/frictionless-usecases/issues/18 - which I don't fully understand.

[2019-09-25 13:52] roll commented on #18
Commented both issues here - https://github.com/BCODMO/frictionless-usecases/issues/17#issuecomment-535033591

[2019-09-27 13:48] adyork commented on #14
OK this is on me, I will find an example

[2019-09-27 13:53] roll commented on #5
@adyork is going to add some other formats

[2019-09-27 14:04] roll commented on #22
To be re-checked after #19 is done

[2019-10-01 17:45] adyork opened #25 "Where should units and vocabulary terms for fields go in datapackage.json?"
If you have ideas or examples of how others are putting units, vocabulary terms, and definitions for fields into datapackages, please let us know.

The issue #1 goes into how to add lots of metadata about the dataset into the datapackage, but here I'd like to just concentrate on metadata for the fields:

* field description
* vocabulary mapping to term(s)
* units (can also be a vocabulary mapping)

[2019-10-02 16:20] adyork commented on #14
So, I took a look at this, and I'm not sure I know of a case where we have needed to turn a non-string into a string.  I have needed to combine two columns (one a string and one a number) to make a cast_id and another time for a unique station_id, but that works currently.

I was under the impression that it was the other way around that we were having troubles with, taking a string and casting to

[2019-10-03 15:58] roll commented on #19
It's done in `dataflows@0.0.60` (please try https://github.com/datahq/dataflows/pull/100#issuecomment-534428744)

[2019-10-03 15:58] #19 closed

[2019-10-03 15:58] roll commented on #22
It's done in `dataflows@0.0.60` (please try https://github.com/datahq/dataflows/pull/100#issuecomment-534428744)

[2019-10-03 16:00] adyork commented on #22
Excited to try this out, thanks!

[2019-10-04 13:27] roll commented on #25
@adyork
Here is an example of a Fiscal Data Package showing how they use data modeling (e.g. a domain type vocabulary):

[code]

[2019-10-04 13:32] roll commented on #25
In the specs issues tracker there are a few related threads:
- https://github.com/frictionlessdata/specs/issues/110
- https://github.com/frictionlessdata/specs/issues/218
But I don't see there are any written recommendations

[2019-10-04 14:46] roll commented on #23
@cschloer
@adyork
So the current situation with this one:
- the solution was developed by me and it works - https://github.com/datahq/dataflows/pull/110
- it will not be accepted because it can be really ineffective due to how `tabulator` works (and I agree that it's more like a hack)

So we can do regarding BCO-DMO:
- using the written code in the custom BCO-DMO processor
- using preprocessor (wi

[2019-10-04 20:31] cschloer commented on #23
:+1: thanks @roll !

[2019-10-04 20:31] #23 closed

[2019-10-08 10:52] roll commented on #21
Fixed in `dataflows@0.62`

[2019-10-08 10:52] #21 closed

[2019-10-11 19:41] cschloer opened #26 "Can a pipeline process be cancelled?"
Hi @akariv @roll

I've been diving deeper into the code of datapackage pipelines in order to build a feature that runs a pipeline in the background using python (without opening a subprocess). I am able to successfully call [run_pipelines](https://github.com/frictionlessdata/datapackage-pipelines/blob/master/datapackage_pipelines/manager/runner.py#L161) in a seperate thread. I can also check the s

[2019-10-21 16:14] cschloer commented on #21
Works well! Thanks!

[2019-10-21 17:50] cschloer commented on #22
Hey, I'm still running into problems with this update @roll . Maybe I just misinterpreted how you were going to implement the solution.

Basically, say I have a datetime with `output_format=%Y-%m-%dT%H:%M:%SZtest` (`output_format` is a parameter in the custom processor `convert_date`). The `convert_date` processor also sets the `outputFormat` key in the field datapackage to `%Y-%m-%dT%H:%M:%SZtest

[2019-10-22 08:21] roll commented on #22
@cschloer
Could you please share some testing pipeline so I can play with it?

[2019-10-24 14:00] roll commented on #26
Hi @cschloer I've asked @akariv if he can help to suggest some idea

[2019-10-29 14:28] cschloer commented on #26
Hey,

I ended up figuring out a solution. If you are interested I can go into deeper detail, but the basic idea was to actually use the subprocess function (that I originally wanted to avoid) to call the `dpp` command. Then I can kill the process with os.kill - though the important difference is that I have to kill the children of the process as well (the slave process).

[2019-10-29 15:18] cschloer commented on #22
OK I think this should be enough:

[code]

You'll need to use the [bcmodo_processors repo](https://github.com/BCODMO/bcodmo_processors) and set the DPP_PROCESSOR_PATH to `$PROCESSOR_REPO/bcodmo_processors`.

I created a branch called `fu-22-roll-examples` that you can use to see the issues I'm talking about.

The first commit on the branch ([set outputFormat to output_format](https://github.com/BC

[2019-10-29 17:33] cschloer opened #27 "Issue with Infer Strategy/Cast Strategy and xlsx files"
Hi @roll . We are having issues with xlsx files and the `infer_strategy` and `cast_strategy` parameters.

Here is the dataset: https://datadocs.bco-dmo.org/data/302/TestProject/data/round-test2.xlsx

Running the pipeline with `infer_strategy: full, cast_strategy: schema` works fine. However, if you do `infer_strategy: strings, cast_strategy: schema` there is a cast error:
[code]
Why can't a field

[2019-10-30 10:24] roll commented on #26
Great. Awesome!

[2019-10-30 10:24] roll commented on #22
Thanks!

[2019-10-30 10:24] roll commented on #27
Thanks, I'll investigate

[2019-11-04 13:59] roll commented on #22
@cschloer
I ran the example and I think I understand.

So, the reason why I used a custom format property (e.g. `outputFormat`) instead of the normal `format` is that internally `dpp` uses `format` for parsing. So I was able to change format only for the last step - as it saves data to a file. The current behavior is expected and I thought exactly what was discussed here - https://github.com/BCODM

[2019-11-04 17:10] cschloer commented on #22
OK - I didn't realize that the actual value would need to stay as `%Y-%m-%dT%H:%M:%SZ`. I still don't understand why: is the schema being validated while the pipeline is running? It seems like not - the validation error is happening in the dump_to_path step. But wasn't the change going to make dump_to_path only use the `temporal_format_property` to validate the format? Right now it seems to only u

[2019-11-05 11:51] roll commented on #22
@cschloer
I'm not sure how it works internally (cc @akariv) but it seems to stringify and parse datetime values on different steps so `format` has to match.

BTW, consider this example:

[code]

After the parsing (e.g. during the load step), you can treat the `date` field's values as native Python date objects in all custom processors. I don't fully understand the reason to talk about textual date

[2019-11-05 13:01] roll commented on #22
I created a test pipeline. It converts timezone-unaware datetime strings into UTC strings:

[code]

[code]

[code]

[code]

[code]

[2019-11-05 14:29] roll commented on #27
@cschloer
I have proposed a PR to `dataflows` to resolve this issue - https://github.com/datahq/dataflows/pull/115

As a quick fix, you can use the tabulator's `force_strings` parameter:

[code]

[2019-11-06 15:56] cschloer commented on #27
Great thanks! So it seems like it wasn't actually specific to excel?

[2019-11-06 16:07] roll commented on #27
No, e.g. json is also affected

[2019-11-12 10:23] cschloer opened #28 "Hash & Filesize not saved in datapackage at a resource level"
It seems like the `counters` parameter in `dump_to_path` is not working for resource specific metadata like hash and filesize. When `counters: resource-hash` is set (or if it's left alone, as it by default `hash`) the resulting datapackage does not have a hash.

I played around a bit with the code and found that [this line](https://github.com/datahq/dataflows/blob/master/dataflows/processors/dumpe

[2019-11-12 11:23] roll commented on #28
@cschloer
Thanks. I'll investigate

[2019-11-15 10:04] cschloer opened #29 "Handle excel invalid precision with formulas"
Creating this issue here to make sure all of our frictionless & BCODMO work is documented.

The PR & discussion is here: https://github.com/frictionlessdata/tabulator-py/pull/281

[2019-11-15 11:37] cschloer opened #30 "Fix bug in dataflows load cast_strategy=string"
Just creating this issue here to make sure all of our frictionless & BCODMO work is documented.

Link to PR and discussion: https://github.com/datahq/dataflows/pull/116

[2019-11-17 07:54] #27 closed

[2019-11-17 09:23] cschloer commented on #22
Sorry for not following up here - the notification of your reply slipped through the cracks.

I think the key feature that the convert_date processor has is the ability to combine multiple fields into one datetime field. Each of those fields individually might not be a datetime and might in fact be arbitrarily difficult for a computer to interpret as a datetime, hence the need for a data manager's

[2019-11-17 10:09] cschloer commented on #30
Fixed in v0.0.64

[2019-11-17 10:09] #30 closed

[2019-11-17 10:21] cschloer opened #31 "temporal_format_property doesn't work with time"
file:
[code]

pipeline-spec:
[code]

stacktrace:
[code]

It seems like when it's a `time` type it needs to be handled separately.

I haven't tested with `date`, might also be a problem? Probably not though.

@roll

[2019-11-17 10:31] cschloer commented on #22
Keeping the field as a datetime type seems to be working well. I still need to talk with Amber about what this means for data manager behavior in terms of not using temporal fields inside of string processors. I will close this issue when that is done.

[2019-11-17 10:33] cschloer commented on #1
@ashepherd Do you feel like it's okay to close this issue given our decision to add custom metadata in the datapackage.json by prefixing with `bcodmo:`?

[2019-11-17 10:36] cschloer commented on #5
Bumping this if you get a chance @adyork . I have task for myself (https://github.com/BCODMO/laminar-web/issues/399) to add more NUMBER_FORMATS based on a generalized function in order to capture numbers with precision 0-15, but it would be useful to also get some more commonly used date formats.

[2019-11-17 10:37] cschloer commented on #14
Closing as I also don't remember there being any issues going from string -> number.

[2019-11-17 10:37] #14 closed

[2019-11-17 10:38] cschloer commented on #25
We decided to keep bcodmo specific metadata in the fields area under the `bcodmo:` key. Closing, feel free to open up again @adyork if you think this isn't resolved.

[2019-11-17 10:38] #25 closed

[2019-11-17 12:28] ashepherd commented on #1
Yeah, feel free to close it

————————————————
Adam Shepherd
Woods Hole Oceanographic Institution
email:ashepherd@whoi.edu
voice: 508.289.2772
ORCID: 0000-0003-4486-9448

Technical Director
Biological and Chemical Oceanography Data Management Office
 ————————————————
https://www.linkedin.com/in/ashep15/
https://www.bco-dmo.org

[2019-11-18 09:21] #1 closed

[2019-11-19 14:58] roll commented on #29
@cschloer
Released as `tabulator@1.30`

[2019-11-19 14:58] #29 closed

[2019-11-19 15:38] roll commented on #31
Fix - https://github.com/datahq/dataflows/pull/117

[2019-11-19 16:40] roll commented on #28
The fix is here - https://github.com/datahq/dataflows/pull/118

[2019-11-19 17:04] adyork commented on #22
Can you clarify the question?  Are you talking about whether to do or not do things like find and replace on a date column (vs string type?).

[2019-11-19 17:36] adyork commented on #5
I think it is better to be able to supply the format (e.g. %d %b %Y) when you set the type rather than managing a subset of supported formats out of all possible formats that could occur.

That being said, if that isn't an option, here is a list of the most common we encounter at BCO-DMO:
%Y-%m-%d
%Y%m%d
%y%m%d
%d/%m/%Y
%d/%m/%y
%m/%d/%Y
%m/%d/%y
%d %b %Y
%d %b %y
%b %d, %Y
%B %d, %Y

TIMES:
%H:%M

[2019-11-19 17:40] adyork commented on #5
Backtracking, this issue stems from the desire to load with "what you see is what you get" meaning what is loaded into the pipeline looks like what was shown in excel.   I don't think having a managed list of formats is going to enable that since there are so many possibilities.

This is open for debate and is just my opinion, but if the headaches with Excel datetime are too much to deal with, wha

[2019-11-19 17:45] adyork commented on #5
So backtracking to the original example in this issue.  I think we all can understand that %b-%b (13-Nov) isn't a desirable format for many reasons.  But from our perspective, that is what the PI gave us and we want to be able to import it that way THEN make changes in the pipeline when we can.

That way the provenance of the format change is captured.  And we can make decisions like keeping the o

[2019-11-22 15:13] cschloer commented on #22
Yes exactly. I was planning to schedule a call with you but got caught up in submission stuff. Thoughts on that @adyork ?

[2019-11-22 17:20] cschloer opened #32 "Add the ability to preserve missing_values"
An issue here to track the PRs made

https://github.com/frictionlessdata/tableschema-py/pull/260
https://github.com/frictionlessdata/datapackage-pipelines/pull/175
https://github.com/datahq/dataflows/pull/119

Original justification:

[2019-11-25 10:58] roll commented on #32
@cschloer
The first one is released as `tableschema@1.11`

Handing over to @akariv :smiley:

[2019-11-28 08:39] akariv commented on #32
To be honest, this doesn't feel that this is the way to go about it.

`missingValue` is, by definition, for specifying values that convey that this is an empty cell.
Since in your case these values actually have information, then they're not really empty.
To mark them as 'missingValues' and then add a parameter to ignore that setting seems like an abuse of that option.

Furthermore, with your sugg

[2019-12-02 09:30] cschloer commented on #32
I understand how this doesn't fit into the scope of the misssingValue key, and that breaking the basic contract of flows is especially a problem. The workaround you mention is indeed possible (and is how we currently work around this issue) but is a bit of a headache to deal with when you have a dataset with many fields and many different kinds of "nullValues". It would significantly improve our w

[2019-12-02 11:01] cschloer opened #33 "Error with extra line and skip_rows parameter"
If you have a csv with an extra blank line at the end and you want to use `skip_rows` to skip some row earlier on, there is an index error.

pipeline-spec.yaml
[code]

test_blank_line.csv
[code]

error
[code]

We already add a custom parameter to the load step that deletes empty rows. However, it doesn't make it to that processor because it runs after the load step.

@roll

[2019-12-02 13:38] akariv commented on #32
A few ideas into how to tackle this problem -

My first idea was to create a processor/flow that does all that in one step - parse values from a specific column and output two columns - one for the values and another for the indeterminate value. Another option is for this processor not to output two columns, but rather a tuple or a simple object instead, in a single column.

A more fancy approach

[2019-12-02 13:39] #31 closed

[2019-12-02 16:03] roll commented on #33
Fixed in `tabulator@1.31`

[2019-12-02 16:03] #33 closed

[2019-12-16 15:37] cschloer commented on #5
Created a pull request here: https://github.com/frictionlessdata/tabulator-py/pull/289

[2019-12-18 12:05] cschloer opened #34 "Feature request: regular expression skip rows"
Currently the skip_rows parameter takes in a list of strings and numbers, skipping the rows that correspond with the number and a row if it starts with that string.

Can we add a new skip_rows_regex parameter that takes in a list of strings (regular expressions) such that if any of the regular expressions pass, the row will be skipped.

[2019-12-19 12:58] #28 closed

[2019-12-19 21:22] adyork commented on #12
Thanks again for implementing full outer joins.  I used it today to join species identifiers into a dataset and am grateful!

I was able to see where there were umatched keys in both source and target now!

[2020-01-06 12:56] cschloer opened #35 "Bug? in tabulator headers parameter"
We're confused by a behavior of tabulator when parsing multiple rows as header rows.

https://github.com/frictionlessdata/tabulator-py/blob/master/tabulator/stream.py#L607

The line above is an if statement that only adds the value of the row to the header if the value inside that row is not equal to the end of the header that has up to then been generated.

We have an excel sheet with 4 rows to b

[2020-01-06 12:58] cschloer opened #36 "Tabulator header parameter"
To follow up while you are looking into https://github.com/BCODMO/frictionless-usecases/issues/35

We would like the ability to specify what value is used as the separator in the `Headers` parameter. Currently if you have multiple headers they are separated by a space. It would be great if there was a new parameter into tabulator that allowed you to specify that separator.

[2020-01-06 13:11] roll commented on #35
@cschloer
I don't know what this line does TBH (it was a quick feature we added). It looks like some heuristic but a comment on what exactly would not hurt

I think we need to fix it

[2020-01-06 13:13] roll commented on #36
@cschloer
It sounds good the feature is raw as I mentioned in #35

So polishing it makes sense

[2020-01-06 19:28] adyork commented on #35
I added the original data file to usecases here: https://github.com/BCODMO/frictionless-usecases/tree/master/usecases/786028_abund/orig

But basically this is a good example of what we are doing when data needs to be unpivoted.  We have to first load multiple header rows in the load step to have one set of field names.

In this case we need to load data from header rows 1-4 in the original file.

[2020-01-06 20:24] adyork commented on #36
Yes, as I mentioned in #35, having space as a delimiter for combined header rows makes later parsing in unpivot difficult.

[2020-01-08 15:29] cschloer opened #37 "Maximum recursion depth exceeded"
Hey,

We've run into this problem a few times but this is the easiest reproducable version. It seems like if too many flows are added to the Flow function call it runs into an error.

csv:
[code]

pipeline-spec.yaml:
[code]

This seems to happen because of this line in the datapackage_pipelines set types:
![Screenshot from 2020-01-08 16-28-12](https://user-images.githubusercontent.com/7134143/7199

[2020-01-08 17:26] akariv commented on #37
Just out of curiosity, why not do:

[code]

On Wed, Jan 8, 2020 at 5:29 PM Conrad Schloer <notifications@github.com>
wrote:

[2020-01-09 11:18] cschloer commented on #37
That would certainly be a much better way to do it if you were building the pipeline-spec.yaml, but the way the UI we built works you just select the field you want to set the type of, rather than typing in a string (thus there is never any regular expression).
![Screenshot from 2020-01-09 12-14-49](https://user-images.githubusercontent.com/7134143/72063298-cf928700-32d9-11ea-8edc-aef5f7792f82.png

[2020-01-09 13:35] akariv commented on #37
the current implementation of the `set_types` dpp processor involves
concatenating multiple `set_type` datalflows processors.
While we could find a better implementation for `set_types`, it does
emphasize a limit on the size of pipelines in general.
I'm not familiar with your custom load processor - does it also create very
long pipelines?

On Thu, Jan 9, 2020 at 1:18 PM Conrad Schloer <notificati

[2020-01-09 14:27] cschloer commented on #37
Yes so our custom load processor works somewhat similarly to how set_types is currently implemented, hence using this example to show the problem.

it works somewhat like:
[code]

So as you can see it splits the input along commas and loads each url in that way. It's a fair bit more complicated than that, as it will also load in sheets from an excel file based on a regular expression, but this get

[2020-01-09 14:52] akariv commented on #37
dataflows doesn't use recursion per-se but as it's simply chains functions
- each function being a separate processor.

There's a way to increase the recursion limit as described here:

https://www.pythoncentral.io/resetting-the-recursion-limit/

you can set it in your custom loader to a higher number if required.

If you're loading many many files as you described, a possibly better
implementatio

[2020-01-16 10:49] cschloer commented on #37
Im struggling to convert an existing processor that uses the Flow(*[processors]) syntax into something using itertools. Could you provide an example with the above set_types processor, since it is also vulnerable to this issue (albeit with rather edge case parameters)?

[2020-01-16 10:51] cschloer commented on #37
The issue is that itertools.chain obviously requires a list of iterables as an argument, but I am calling a dataflow processor (not tabulator.Stream).

[2020-01-21 11:29] #5 closed

[2020-01-21 11:30] #22 closed

[2020-01-21 11:39] cschloer opened #38 "Pass in missingValues to tableschema/tabulator"
Creating this issue here to follow:
https://github.com/frictionlessdata/tableschema-py/issues/265

[2020-01-21 11:53] cschloer opened #39 "Implement the weight property to goodtables"
See https://github.com/frictionlessdata/goodtables-py/issues/322

Let me know @roll if this is not useful for you that I'm recreating these issues here. I just thought it would be to centrally document which issues are related to the Pilot.

[2020-01-21 11:54] cschloer opened #40 "Add options to goodtables-ui verbosity"
See https://github.com/frictionlessdata/goodtables-ui/issues/26

[2020-01-21 11:55] cschloer opened #41 "goodtables-ui issue with optional keys"
See https://github.com/frictionlessdata/goodtables-ui/issues/25

[2020-01-24 12:39] cschloer opened #42 "Datapackage does not use pipeline-spec.yaml name as datapackage name"
https://github.com/frictionlessdata/datapackage-pipelines/issues/176

[2020-01-27 15:08] roll commented on #41
TO BE HANDLED IN https://github.com/frictionlessdata/goodtables-ui/issues/25

[2020-01-27 15:08] #41 closed

[2020-01-27 15:13] roll commented on #35
@cschloer
Transferring to the `tabulator` repo?

[2020-01-27 15:13] roll commented on #36
@cschloer
Also transferring to the `tabulator` repo?

[2020-01-27 15:15] roll commented on #37
@cschloer
I think it's for transferring to https://github.com/frictionlessdata/pilot-bcodmo

[2020-01-27 15:20] roll commented on #38
TO be handled in https://github.com/frictionlessdata/tableschema-py/issues/265

[2020-01-27 15:21] #38 closed

[2020-01-27 15:21] roll commented on #39
To be handled in https://github.com/frictionlessdata/goodtables-py/issues/322

[2020-01-27 15:21] #39 closed

[2020-01-27 15:21] roll commented on #40
To be handled in https://github.com/frictionlessdata/goodtables-ui/issues/26

[2020-01-27 15:21] #40 closed

[2020-01-27 15:26] roll commented on #42
To be handled in https://github.com/frictionlessdata/datapackage-pipelines/issues/176

[2020-01-27 15:26] #42 closed

[2020-01-27 15:27] roll commented on #34
To be handled in https://github.com/frictionlessdata/tabulator-py/pull/290

[2020-01-27 15:27] #34 closed

[2020-01-28 09:26] cschloer commented on #37
I think it's fine not to transfer this issue. I added a workaround by setting the python recursion limit. I am still curious if @akariv has any advice on having a processor that uses Flow also use itertools to increase the efficiency, but it's not super high priority.

[2020-01-28 09:30] #36 closed

[2020-01-28 09:30] cschloer commented on #36
https://github.com/frictionlessdata/tabulator-py/issues/291

[2020-01-28 09:31] cschloer commented on #35
https://github.com/frictionlessdata/tabulator-py/issues/292

[2020-01-28 09:31] #35 closed

[2020-05-08 13:53] adyork commented on #12
Hi @roll, thanks for adding the modes.  We've been using them. However, it seems the modes are not in the documentation yet.   https://github.com/frictionlessdata/datapackage-pipelines#join

@cschloer you can chime in but I think we had some questions about how this works.

[2020-05-11 16:00] roll commented on #12
Hi @adyork,

https://github.com/datahq/dataflows/blob/master/PROCESSORS.md#joinpy

[2020-05-11 19:57] adyork commented on #12
Great! Thanks.
![image](https://user-images.githubusercontent.com/9537357/81600932-66f70c00-9398-11ea-9aad-cc58dc472e32.png)

I have some suggestions for clarifying if you think it would be helpful.  I tried to keep to the source/target model language.

* if inner:
  -  Target rows with no key match in the source will result in dropping the row from the target.
  -  Source rows with no key match i

[2020-05-11 20:08] adyork commented on #12
Also, if people seem to be still confused about joins and modes, what I have found useful when explaining this to people is to show them these types of circle diagrams.  You could adapt these join-type circle diagrams from the SQL model to use the source/target model terms by replacing the table1&2 with source&target.
![image](https://user-images.githubusercontent.com/9537357/81606534-441d2580-93a